header {
  background-color: yellow;
}

body {
  
}

.react-datepicker__input-container {
  display: block!important;
}

.react-datepicker__input-container input {
  width: 100%!important;
}

.react-datepicker-wrapper {
  width: 100%;
}